<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
        <a class="navbar-brand logo-text" th:href="@{/home}">
            Мониторинг <span>Тендеров</span>
        </a>

        <div class="ms-auto" th:if="${session.user != null}">
            <a th:href="@{/home}" class="nav-btn">Поиск</a>
            <a th:href="@{/new-tenders}" class="nav-btn">Новые тендеры</a>
            <a th:href="@{/tracking}" class="nav-btn">Мониторинг</a>
            <a th:if="${session.user.role?.name() == 'ADMIN'}" th:href="@{/admin}" class="nav-btn">Админка</a>

            <span class="user-icon me-1"> <img src="/images/person-circle.svg" width="20" height="20"
                                               alt="User"/></span>
            <span class="navbar-text fw-medium" th:text="${session.user.username}"></span>

            <form th:action="@{/auth/logout}" method="post" class="d-inline">
                <button class="nav-btn logout-btn" type="submit">Выйти</button>
            </form>
        </div>
    </nav>
</th:block>