body {
    min-height: 100vh;
}

section#page-content {
    min-height: calc(100vh - 164px);
}

.logo {
    background-image: url("/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    min-height: 250px;
}

