<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Tender Monitoring</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">

            <img th:src="@{/images/logo.png}" alt="Tender monitoring" width="30" height="24"
                 class="d-inline-block align-text-top">
            Tender Monitoring
        </a>
        <div class="d-flex align-items-center">
            <span class="navbar-text me-3" th:text="${session.user.username}">username</span>
            <form th:action="@{/auth/logout}" method="post">
                <button class="btn btn-outline-danger" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>


</body>
</html>